<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h1>Formulario de Nombres</h1>
    <form action="/formularionombres" method="post">
        <label for="nombre1">Nombre 1:</label>
        <input type="text" id="nombre1" name="nombre1" required>
        <br>
        <label for="nombre2">Nombre 2:</label>
        <input type="text" id="nombre2" name="nombre2" required>
        <br>
         <label for="nombre3">Nombre 3:</label>
        <input type="text" id="nombre3" name="nombre3" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if nombres %}
    <h2>Nombres ingresados:</h2>
    <ul>
    {% for nombre in nombres %}
        <li>{{ nombre }}</li>
    {% endfor %}
    </ul>
    <h2>El nombre más largo es:</h2>
    <p>{{ longitud }}</p>
    <p>{{ nombre_largo }}</p>
{% endif %}

</div>
</body>
</html>